* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    font-size: 15px;
    line-height: 1.5;
}

.bg-title {
    position: relative;
    margin: auto;
    height: 180px;
    background-color: #f1f1f1;
    font-size: 15px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-family: "Segoe UI";
    font-size: 64px;
    font-weight: 400;
}

.prgr-container {
    display: flex;
    margin-top: 20px;
    padding: 0 10px;
}

.prgr-container .paragraph {
    flex: 1;
    padding: 0 8px;
    text-align: justify;
}

.prgr-container .paragraph h2 {
    margin: 10px 0;
    font-size: 30px;
    font-family: "Segoe UI";
    font-weight: 400;
}

.prgr-container .paragraph p {
    margin: 10px 0;
}